* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;

}

body {
    min-height: 100vh;
    background: #d2d2d2;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #161a2d;
    padding: 25px 20px;
}

.sidebar-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-left: 23px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
}